# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# My change --by handahao

# For my Dev-C++
*.dev
*.layout
*.win

# My lib
lib/

#vs2010
debug/
*.opensdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.lnk